/*
 Theme Name:   Qwery Child Theme
 Theme URI:    http://qwery.ancorathemes.com
 Description:  Qwery Child Theme
 Author:       AncoraThemes
 Author URI:   http://ancorathemes.com
 Template:     qwery
 Version:      1.3
 Tags:         flexible-header, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, full-width-template, microformats, post-formats, theme-options, threaded-comments, translation-ready
 Text Domain:  qwery
*/


/* =Child-Theme customization starts here
------------------------------------------------------------ */
/* togli sillabazione */
div > * {
    hyphens: none !important;
	font-feature-settings: "liga" 1;
}

.sticky_socials_wrap{
	display: none;
}

@media screen and (max-width: 1279px) {
	.sc_item_title[data-mouse-helper="highlight"] {
		background-size: 200vw 200vh !important;
	}
	.bullet-numeri-white.sc_fly_static ol{
		margin-left: 0px!important;
	}

	.bullet-numeri-white ol li::marker{
		font-size: 19px!important;
	}
}

/*-- bullet numeri --*/
.bullet-numeri ol li{
	margin-bottom:20px;
}
.bullet-numeri ol li::marker{
	font-size: 24px;
    font-weight: 500;
    color: #A5A6AA;
}
.bullet-numeri-white ol{
	margin-left: 8px!important;
}
.bullet-numeri-white ol li::marker{
	font-size: 24px;
    font-weight: 500;
}

/*-- menu --*/
nav.sc_layouts_menu li, nav.menu_mobile_nav_area li {
    font-family: 'Raleway', sans-serif;
}

span.menu_button_close_text {
    color: #fff !important;
    font-family: 'Raleway';
}

.menu_mobile_inner{
	background-color: #BC1543!important;
}

.menu_hover_zoom_line .sc_layouts_menu_nav > li:not(.menu-collapse) > a:after {
    background-color: #BC1543;
}

/*------- ADD FONTS --------*/
@font-face {
    font-family: 'Gloock';
    src: url('../../uploads/fonts/Gloock-Regular.woff2') format('woff2'),
        url('../../uploads/fonts/Gloock-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('../../uploads/fonts/Raleway-Regular.woff2') format('woff2'),
        url('../../uploads/fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../uploads/fonts/Raleway-Light.woff2') format('woff2'),
        url('../../uploads/fonts/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../uploads/fonts/Raleway-Medium.woff2') format('woff2'),
        url('../../uploads/fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../uploads/fonts/Raleway-Bold.woff2') format('woff2'),
        url('../../uploads/fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* PROGRESS PIE */
.sc_skills_item_title, .sc_skills_total {
    font-family: 'raleway', sans-serif !important;
    font-size: 16px !important;
    color: #000 !important;
}


/* TESTO SLIDER HOME */

.autotype-variation {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.autotype-variation.fade-out {
    opacity: 0;
}

/* Sticky column */
.sticky-image__container{
	position:relative;
}
.sticky-image{
	position: -webkit-sticky;
	position: sticky;
    bottom: 0px;
}

/* TAB STYLE */

.tabs_style_2.elementor-widget-tabs .elementor-tab-title.elementor-active{
	background-color: #BC1543!important;
}

input.wpcf7-submit {
    font-family: 'Raleway';
}

@media screen and (min-width: 1700px){
	#autotype_wrapper br{
		display: none;
	}
}
/*-- tab aperte da mobile --*/
@media screen and (max-width: 767px){
	div#elementor-tab-content-1441, div#elementor-tab-content-1442 {
    	display: block !important;
	}
	.elementor-tab-mobile-title {
    	background: #BC1543 !important;
    	color: #fff !important;
	}
}

@media screen and (max-width: 480px){
	#autotype_wrapper br{
		display: none;
	}
}

/*=====================================================
  SECTION SPACING AND DECORATIVE ELEMENTS
=====================================================*/

/* Aggiungi padding superiore e inferiore a tutte le sezioni con colore di sfondo */
.scheme_dark,
.scheme_light {
	padding-top: 120px !important;
	padding-bottom: 120px !important;
	position: relative;
}

/* Responsive spacing per tablet */
@media screen and (max-width: 1279px) {
	.scheme_dark,
	.scheme_light {
		padding-top: 100px !important;
		padding-bottom: 100px !important;
	}
}

/* Responsive spacing per mobile */
@media screen and (max-width: 767px) {
	.scheme_dark,
	.scheme_light {
		padding-top: 80px !important;
		padding-bottom: 80px !important;
	}
}

/* Elemento decorativo: linea con gradiente sopra ogni sezione dark */
.scheme_dark::before {
	content: '';
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	width: 120px;
	height: 3px;
	background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
	border-radius: 2px;
	z-index: 1;
}

/* Elemento decorativo: cerchi sopra ogni sezione light */
.scheme_light::before {
	content: '';
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	width: 10px;
	height: 10px;
	background: #BC1543;
	border-radius: 50%;
	box-shadow:
		-30px 0 0 0 rgba(188, 21, 67, 0.5),
		30px 0 0 0 rgba(188, 21, 67, 0.5),
		-60px 0 0 0 rgba(188, 21, 67, 0.25),
		60px 0 0 0 rgba(188, 21, 67, 0.25);
	z-index: 1;
}

/* Nascondi decorazioni su mobile per semplicità */
@media screen and (max-width: 767px) {
	.scheme_dark::before,
	.scheme_light::before {
		display: none;
	}
}

/* SPACING INTERNO SEZIONE #chi - Separa "Il nostro Scopo" da "COS'È" */
#chi .elementor-column {
	margin-bottom: 80px !important;
}

#chi .elementor-column:last-child {
	margin-bottom: 0 !important;
}

@media screen and (max-width: 1279px) {
	#chi .elementor-column {
		margin-bottom: 60px !important;
	}
}

@media screen and (max-width: 767px) {
	#chi .elementor-column {
		margin-bottom: 40px !important;
	}
}

/* Aggiungi spazio extra tra heading dentro le sezioni dark */
.scheme_dark .elementor-widget-heading {
	margin-bottom: 40px !important;
}

.scheme_dark .elementor-widget-text-editor {
	margin-bottom: 40px !important;
}

@media screen and (max-width: 767px) {
	.scheme_dark .elementor-widget-heading,
	.scheme_dark .elementor-widget-text-editor {
		margin-bottom: 30px !important;
	}
}